extends base/base_noUser.pug

block main
    .frmGroup-wrapper
        //- Reset Password
        form.frmGroup(id="frmResetPass")
            h2.frmGroup__header= pages.resetPass.frmGroup__header
            p.frmGroup__text= pages.resetPass.text
            input.frmGroup__input(type="email" autocomplete="email" name="email" id="frmResetPass_email" placeholder=`${pages.resetPass.password}` value=`tunapotur@yahoo.com` disabled)

            .frmValidate
                input.frmGroup__input(type="password" autocomplete="password" name="new_password" id="frmPass_newPassword" placeholder=`${pages.resetPass.password}` value=`` required)
                .frmValidate__messages
                    .frmValidate__input-msg.frmValidate__input-msg--deny= pages.resetPass.checkMessage[0]
                    .frmValidate__input-msg.frmValidate__input-msg--accept= pages.resetPass.checkMessage[1]
            .frmValidate
                input.frmGroup__input(type="password" autocomplete="password" name="new_password_check" id="frmPass_newPasswordCheck" 
                placeholder=`${pages.resetPass.passwordCheck}` value=`` required)
                .frmValidate__messages
                    .frmValidate__input-msg.frmValidate__input-msg--deny= pages.resetPass.checkMessage[2]
                    .frmValidate__input-msg.frmValidate__input-msg--accept= pages.resetPass.checkMessage[1]

            button.frmGroup__button.frmGroup__button--margin-width(id="frmResetPass_btn")= pages.resetPass.formBtn
